body {
    font-family: 'Courier New', Courier, monospace
}


#calc-container {
    box-sizing: content-box;
    width: 384px;
    height: 582px;
    padding: 24px;
    border-radius: 10px;
    background-color: pink;

    display: flex;
    flex-wrap: wrap;
    gap: 12px; 
}

#display {
    box-sizing: border-box;
    width: 100%;
    height: 87px;
    padding: 12px;
    border-radius: 25px;
    background-color: white;

    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 31px;
}

.calc-button, .wide-calc-button {
    /* Calculation:  
    freeSpaceIn4ButtonRow = contentWidthOfContainer - gapSize * numGaps
                          = 384px - 12px * 3
                          = 348px
    calcButtonWidth = freeSpaceIn4ButtonRow / 4
                    = 348px / 4
                    = 87px
    */
    
    width: 87px;
    height: 87px;

    font-family: inherit;
    font-size: 27px;
    font-weight: bold;
    color: darkslategrey;
    border-color: white;
    border-radius: 50%;
}

.wide-calc-button {
    /* Calculation:  
    A "wide" calculator button should take up as much horizontal space as two
    regular buttons including their gap. Thus: 
    wideCalcButtonWidth = calcButtonWidth * 2 + gapSize
                       = 87px * 2 + 12px
                       = 186px
    The reason why we chose to not simply assign flex:50% to this class and 
    flex:25% to .calc-button is that the total size of gaps in a row is not 
    factored into the width calculation, but seems to only be applied after. 
    One can see the effect of this by deleting the gap property, and then
    setting these flex basis values - it behaves as intended until the gap
    property is readded. 

    If I find a better way to do this in the future (likely), then I might
    revisit this and implement that!
    */
    
    width: 186px;
    
    border-radius: 25px;
    background-color: white;
}

.digit, #decimal {
    background-color: #FFD8DF;
}

.operator, #backspace {
    background-color: #99EEFF;
}